<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="list-unstyled list-inline" style="padding-top:12px;">
          <li><a href="https://github.com/bbengfort/"><i class="fa fa-github"></i></a></li>
          <li><a href="https://twitter.com/bbengfort/"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <p class="text-right text-muted">
          <small>
            Copyright &copy; 2016 Bengfort.com, All Rights Reserved
          </small>
        </p>
        <p class="text-right text-muted">
          <small>
            Bengfort Finances v<span id="footerVersion">1.0</span>
            &middot
            status: <span id="footerStatus"><i class="fa fa-circle"></i></span>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
